{% extends "base.html" %}
{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 p-5">
            <div class="alert alert-primary" role="alert">
              Нам очень жаль, что вы отменили свой заказ :( Будем рады вас видесть снова!
            </div>
            <a href="/">на главную</a>
        </div>
    </div>
</div>

{% endblock %}