{% extends "base.html" %}
{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 p-5">
            <div class="card" >
                <div class="card-header">
                  Покупаемый товар
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for field in serializer %}

                        <li class="list-group-item">
                            <div class="d-flex flex-row w-100">
                                <div class="d-flex w-100"><b>{{ field.label }}:</b></div>
                                <div class="d-flex w-100">{{ field.value }}</div>
                            </div>
                        </li>

                        {% endfor %}
                    </ul>
                </div>
                <button type="submit" class="btn btn-primary" id="buy-button">Buy</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function(){
        buy(url="{% url 'payment:item-buy' item.pk %}");
    });
</script>

{% endblock %}