{% extends "base.html" %}
{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 p-5">
            <div class="alert alert-success" role="alert">
              Ваша оплата прошла успешно!
            </div>
          <a href="/">на главную</a>
        </div>
    </div>
</div>

{% endblock %}